In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from main import Inspector
import pandas as pd

In [3]:
df_clean = pd.read_csv('hospital_1k_clean.csv', header=None)
df_dirty = pd.read_csv('hospital_1k_dirty.csv', header=None)
df_treated = pd.read_csv('hospital_1k_treated.csv', header=None)

se_clean = df_clean.iloc[:, 3]
se_dirty = df_dirty.iloc[:, 3]
se_treated = df_treated.iloc[:, 3]

In [32]:
se_treated.iat[271] = 'BERLIN'
se_treated.iat[274] = 'BERLIN'

In [33]:
se_treated.loc[270:273]

270    ALABASTER
271       BERLIN
272    ALABASTER
273    ALABASTER
Name: 3, dtype: object

In [34]:
ins = Inspector(se_clean, se_dirty, se_treated, assume_errors_known=True)

In [35]:
se_treated.loc[ins._error_positions]

271       BERLIN
274       BERLIN
275    ALABASTER
276    ALABASTER
278    ALABASTER
279    ALABASTER
280    ALABASTER
281    ALABASTER
282    ALABASTER
283    ALABASTER
284    ALABASTER
285    ALABASTER
287    ALABASTER
289    ALABASTER
290    ALABASTER
291    ALABASTER
292    ALABASTER
293    ALABASTER
836      CLANTON
Name: 3, dtype: object

In [36]:
sum(ins._error_positions)

19

In [37]:
ins.error_cleaning_performance(se_clean, se_treated, se_dirty)

Calculating Cleaning Performance.
Counted 17 TPs, 0 FPs, 2 FNs and 0 TNs.

0.9444444444444444

In [40]:
ins.inspect_cleaning_results(df_clean, df_treated, df_dirty, slice(2,5))

Evaluating error 1 from 2
Error in row 271:

Enter to continue, any input to abort asdf