In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from main import Inspector
import pandas as pd

In [3]:
df_clean = pd.read_csv('hospital_1k_clean.csv', header=None)
df_dirty = pd.read_csv('hospital_1k_dirty.csv', header=None)
df_treated = pd.read_csv('hospital_1k_treated.csv', header=None)

se_clean = df_clean.iloc[:, 3]
se_dirty = df_dirty.iloc[:, 3]
se_treated = df_treated.iloc[:, 3]

In [4]:
ins = Inspector(assume_errors_known=True)
ins.calculate_error_positions(se_clean, se_dirty)

In [5]:
sum(ins._error_positions)

19

In [6]:
se_treated.loc[ins._error_positions]

271    ALABASTER
274    ALABASTER
275    ALABASTER
276    ALABASTER
278    ALABASTER
279    ALABASTER
280    ALABASTER
281    ALABASTER
282    ALABASTER
283    ALABASTER
284    ALABASTER
285    ALABASTER
287    ALABASTER
289    ALABASTER
290    ALABASTER
291    ALABASTER
292    ALABASTER
293    ALABASTER
836      CLANTON
Name: 3, dtype: object

In [7]:
se_treated.iat[271] = 'BERLIN'

In [8]:
se_treated.loc[270:273]

270    ALABASTER
271       BERLIN
272    ALABASTER
273    ALABASTER
Name: 3, dtype: object

In [9]:
ins.cleaning_performance(se_clean, se_treated, se_dirty)

Calculating Cleaning Performance.
Counted 18 TPs, 0 FPs, 1 FNs and 0 TNs.

0.972972972972973

In [10]:
df_treated.iloc[3:5, :].loc[:, 3:5]

            3   4      5
3  BIRMINGHAM  AL  35233
4  BIRMINGHAM  AL  35233

In [11]:
ins.calculate_cleaning_error_positions(se_clean, se_treated)

In [ ]:
df.index[df['BoolCol'] == True].tolist()

In [22]:
ins.inspect_cleaning_results(df_clean, df_treated, df_dirty, slice(2,5))

Evaluating error 0 from 999
Error in row 271:
                           2            3   4        5
268         33700 HIGHWAY 43  THOMASVILLE  AL  36784.0
269  1000 FIRST STREET NORTH    ALABASTER  AL  35007.0
270  1000 FIRST STREET NORTH    ALABASTER  AL  35007.0
271  1000 FIRST STREET NORTH     ALABATER  AL  35007.0
272  1000 FIRST STREET NORTH    ALABASTER  AL  35007.0
273  1000 FIRST STREET NORTH    ALABASTER   L  35007.0
Cleaning result in row 271:
                           2            3   4      5
268         33700 HIGHWAY 43  THOMASVILLE  AL  36784
269  1000 FIRST STREET NORTH    ALABASTER  AL  35007
270  1000 FIRST STREET NORTH    ALABASTER  AL  35007
271  1000 FIRST STREET NORTH       BERLIN  AL  35007
272  1000 FIRST STREET NORTH    ALABASTER  AL  35007
273  1000 FIRST STREET NORTH    ALABASTER  AL  35007
Groud truth in row 271:
                           2            3   4      5
268         33700 HIGHWAY 43  THOMASVILLE  AL  36784
269  1000 FIRST STREET NORTH    ALABASTER  AL  35007
270  1000 FIRST STREET NORTH    ALABASTER  AL  35007
271  1000 FIRST STREET NORTH    ALABASTER  AL  35007
272  1000 FIRST STREET NORTH    ALABASTER  AL  35007
273  1000 FIRST STREET NORTH    ALABASTER  AL  35007